
@media screen and (max-width: px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* 자식 요소 수평, 수직 정렬 */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 요소를 뷰포트에 고정 */
    position: fixed;
    bottom: 0;
    /* 다른 요소보다 위에 올라가도록 큰 값 설정 */
    z-index: 9999;
  
    height: 100px;
    /* 요소 너비 꽉 차도록 */
    width: 100%;
    
    background-color:white;
  }
  .img-logo img {
    content: url("../image/redfulllogo.png");
    margin: 13px 0 0 0;
    height: 52px;
  }
  .img-logo .btn-nav {
    display: block;
    top: 25px;
  }
  
  .main {
    margin-bottom: 30px;
  }
  .main.active {
    margin-top: 296px;
  }
}

.search-result-main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.movie-article {
  max-width: 550px;
  padding: 0px 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-animation: fadeIn 0.9s ease-in-out;
          animation: fadeIn 0.9s ease-in-out;
}

.movie-article .movie-title {
  padding: 0 5px 0;
  margin-bottom: 4px;
  line-height: 38px;
  text-align: left;
}

.movie-article .sub-movie-title {
  padding: 0 5px 0;
  margin-bottom: 30px;
  color: #000000;
  font-family: "SpoqaHanSansNeo-Medium", sans-serif;
  font-size: 20px;
  line-height: 25px;
}


.card-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
}

.card-info-wrapper .poster-card {
  width: 300px;
  margin-right: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 10px;
}

.right-part {
  position: relative;
  -webkit-animation: motion 1.8s linear 0s infinite alternate;
          animation: motion 1.8s linear 0s infinite alternate;
}

.right-part .img-wbg {
  width: 48px;
  height: 66px;
  margin: 0 auto;
  background-image: url("../../assets/icons/logo-one.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.right-part .btn-ms {
  position: absolute;
  top: 70px;
  margin: 0 7.5px 0;
}

.right-part .movie-info {
  max-width: 180px;
  color: #000000;
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.right-part .movie-info div {
  margin-bottom: 8px;
}

.bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 10px;
}

.bottom-part .container-review-btn {
  position: relative;
  -webkit-animation: motion 1.8s linear 0s infinite alternate;
          animation: motion 1.8s linear 0s infinite alternate;
}

.bottom-part .img-wbg {
  width: 48px;
  height: 66px;
  margin: 0 auto;
  background-image: url("../../assets/icons/logo-one.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.bottom-part .btn-ms {
  position: absolute;
  top: 70px;
  margin: 0 7.5px 0;
}

.bottom-part .movie-info {
  max-width: 180px;
  color: #000000;
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.bottom-part .movie-info div {
  margin-bottom: 8px;
}



div > dt {
  margin-bottom: 3px;
  color: #000000;
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  line-height: 18px;
}

.movie-summary {
  margin: 30px 0 54px;
  color: #000000;
  font-size: 13px;
  line-height: 1.5;
}

.genre {
  display: inline-block;
  overflow: hidden;
  width: 185px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}

.actor {
  display: inline-block;
  overflow: hidden;
  width: 185px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}

